@font-face {
    font-family: shonenBold;
    src: url(ShonenPunk-custom-bold.ttf) format('truetype'),
         url(ShonenPunk-custom-bold.woff) format('woff');
 }

@font-face {
    font-family: BebasNeue;
    src: url(BebasNeue-Regular.ttf) format('truetype'),
         url(BebasNeue-Regular.woff) format('woff'),
         url(BebasNeue-Regular.woff2) format('woff2')
 }

 @font-face {
     font-family: openSans-reg;
     src: url(OpenSans-Regular.ttf) format('truetype'),
          url(OpenSans-Regular.woff) format('woff');
 }

 @font-face {
     font-family: openSans-bold;
     src: url(OpenSans-Bold.ttf) format('truetype'),
          url(OpenSans-Bold.woff) format('woff');
 }

 @font-face {
     font-family: openSans-italic;
     src: url(OpenSans-Italic.ttf) format('truetype'),
          url(OpenSans-Italic.woff) format('woff');
 }

@font-face {
    font-family: openSans-boldItalic;
    src: url(OpenSans-BoldItalic.ttf) format('truetype'),
         url(OpenSans-BoldItalic.woff) format('woff');
}

