.homepage {
    display:grid;
    grid-template-columns: 0.6fr 0.4fr;
    grid-template-rows: 0.9fr 0.8fr 1fr;
    gap: 1em;
    height: 100vh;
}

#bio {
    grid-column: 1 /3 ;
    grid-row: 1;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 0.4fr;
    
}
#bio-title{
    font-family: BebasNeue;
    font-size: 48px;
    margin-bottom:0px;
    display: flex;
    align-items:flex-end;
}

#bio-info {
    font-family: openSans-reg;
    font-size:large;
    margin: 0px
}

#album-info {
    grid-column: 1 / 3;
    grid-row: 2;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 0.4fr;
    background-color: #201010 ;
}

#album-info-title {
    font-family: BebasNeue;
    font-size: 48px;
    color: #ffffee;
    margin-bottom:0px;
    margin-left: 10px;
    display: flex;  
    align-items:flex-end;
}

#album-info-info {
    width: 0%;
    height: 0%;
    margin: 0px;
    display: flex;  
    align-items:flex-end;
}

#album-info-info-songs {
    font-family: openSans-reg;
    font-size:medium;

    color:#ffffee;
    padding-left: 24px;
    margin: 0px;
}

#album-pic {
    grid-column:2 ;
    grid-row:2 ;
    display: flex;
    justify-content:flex-end;
    align-self: center;
    margin: 10px;
}

#album-pic > img {
    object-fit: cover;
    width: 60%;
    max-height: 60%;

}

#other {
    grid-column:1 / 3 ;
    grid-row:3 ;
}